
# windows meta data file
FILE.syso

# the setup file
setup.exe

# this file gets created when the setup.exe is still running and someone runs the build process
setup.exe~

# if you just type `go build` on linux and on windows
Automated-Windows-10-configuration.exe
Automated-Windows-10-configuration

# the download installer from chocolatery
chocoSetup.ps1