* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-top: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  position: fixed;
  background-color: #000000;
  width: 100%;
  top: 0px;
  left: 0px;
}

.header * {
  color: white;
}

.header .title, .header .tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.header img {
  height: 60px;
  padding-right: 5px;
}

.header h1 {
  font-size: 23px;
  font-weight: 500;
}

.header a {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  background-color: #212121;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#readme, #generator {
  padding: 10px;
  margin: 0px auto;
  max-width: 600px;
}

#generator {
  max-width: 400px;
}

#readme h2 {
  padding-top: 20px;
}

#readme h3 {
  padding-top: 10px;
}

#readme code {
  display: inline-block;
  padding: 3px 5px;
  background-color: #eee;
}

#generator input {
  font-size: 18px;
  border-bottom: 2px solid #212121;
  padding: 5px;
  width: 100%;
}

#generator .result {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: white;
  transition: .2s background-color;
}

#generator button {
  background-color: #212121;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

#generator button:disabled {
  opacity: .4;
  cursor: default;
}

#generator .result:hover {
  background-color: #eee;
}

#generator .info {
  padding: 10px 5px 5px 5px;
  font-weight: 700;
}

#generator .options {
  padding: 10px 0px;
}