*
  padding 0px
  margin 0px
  border 0px

body
  font-family 'Roboto', sans-serif
  font-size 18px
  overflow-y hidden
  overflow-x hidden
  background-color: #6492F9

a, a *
  text-decoration: none
  color: black

a.button, button
  display inline-block
  width: auto
  padding: 4px 10px
  margin: 4px
  background-color: #6492F9
  font-weight: bolder
  color: white
  border-radius: 4px
  cursor pointer
  text-decoration: none
  transition: background-color .2s
  font-size: 18px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:hover
    background-color: #4e7fed
  &:focus
    background-color: #4e7fed
  &:disabled
    background-color: #6492F9
    cursor: default
    opacity: 0.5

.part
  background-color: white
  height: 90vh
  width: 90vw
  position fixed
  top: 5vh
  left: 5vw
  border-radius: 5px
  overflow-y auto
  overflow-x hidden

.header
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  flex-wrap: wrap
  .side
    min-width: 400px
    width: 50%
    box-sizing: border-box
    padding: 40px
    height: 100%
    display: flex
    justify-content: center
    flex-direction: column
  .side1
    *
      width: 100%
      display inline-block
    h1, .full-title
      text-align: center
    .full-title
      padding-bottom: 20px
      color: rgba(0,0,0,.6)
    .intro
      font-size: 19px
    .buttons
      a
        width: auto
  .side2
    align-items: center
    .icon
      background-image: url(/icons/icon-small.png)
      background-size: contain
      background-repeat: no-repeat
      height: 250px
      width: 250px

.configure
  .head
    display flex
    align-items: center
    padding: 10px
    cursor pointer
    &:hover
      h2
        text-decoration: underline
    .icon
      height: 30px
      width: 30px
      svg
        height: 30px
        width: 30px

.step
  padding: 20px
  .contents
    .bool, .options
      display: flex
      align-items: center
      div
        display: inline-block
        padding: 1px 8px
        box-sizing: border-box
        border: 3px solid #6492F9
        background-color: #ffffff
        cursor pointer
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
      .selected
        background-color: #6492F9
        color: white
      .last
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
      .first
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px

.search
  .search-input
    display flex
    align-self center
    margin: 20px 0px 10px 0px
    input
      width: 100%
      max-width: 500px
      padding: 4px 10px
      box-sizing: border-box
      border-bottom: 3px solid #6492f9
      font-size: 18px
  .output
    display flex
    align-self center
    flex-direction: row
    flex-wrap: wrap
    .item
      cursor pointer
    .row
      max-width: 300px
      box-sizing: border-box
      padding: 10px
      width: 100%
      max-height: 60vh
      overflow-y auto
      overflow-x hidden
      background-color: #eee
      margin: 5px
      border-radius: 5px

.statusBar
  padding: 0px 10px
  display flex
  align-items center
  .state
    width: 100px
    text-align: center

.checklist
  > div
    display: flex
    align-items: center
    .icon, svg
      height: 35px
      width: 35px
  .checkListHeader
    font-weight: bolder
    display: block
    padding: 20px 5px 5px 5px

.previewImage
  margin: 20px
  max-width: 450px